/* Remove default styling for <select> */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add custom background, border, and padding styles */
  background-color: #f7f7f7;
  border: 1px solid #e2e8f0;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  /* Add custom arrow icon */
  background-image: url('selectArrow.svg');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
}

/* Style the <option> elements */
select option {
  /* Add custom font size and color */
  font-size: 0.875rem;
  color: #4a5568;
}