@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  @apply font-body bg-bg text-white;
}

body.modal-open {
  @apply overflow-hidden;
}

input, select {
  @apply text-text;
}
