// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  // @apply bg-bgGreen font-body;
}

body.modal-open {
  @apply overflow-hidden;
}
